@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');



a{
  text-decoration: none;
  display: block;

}
ul{
  list-style-type: none;
  padding-left: 0;
}

body{
  background-image: url(background4.jpg);
  background-repeat: no-repeat;
  font-family: 'Nanum Myeongjo', sans-serif;
  color: white;
}



.container{
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100px 1fr 100px;
  height: 600px;
  width: 1200px;
  margin-right: 10px;
  grid-gap:20px;
  border: 1px solid black;
  grid-template-areas:
  "header header"
  "menu content"
  "footer footer"

}
.header{
  grid-area: header;
  width: 1200px;
}

.menu{
  grid-area: menu;
  height: 410px;
}

.content{
  grid-area: content;
  width: 900px;
  height: 410px;
}
.footer{
  grid-area: footer;
  height: 50px;
  position: relative;
}
.login{
  position: absolute;
  right:0px;;
}
.menu>ul{
  line-height: 50px;
  text-align: center;
}


.menu>ul>li {
  transition: all .3s ease
}

.menu>ul>li:hover {
  color: #39d9c8;
  transition: all .3s ease
}

.menu>ul>li>a {
  position: relative
}
.menu>ul>li>a::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid white;
  transition:all .3s ease;
}
.menu>ul>li:hover > a::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid white;
  transition:all .3s ease;
}

.menu>ul>li:hover{
  background-color: rgba(0, 0, 0, 0.089);
}
.footer>ul{display:flex; right:30px; width: 170px;}
.footer>ul>li{flex: 1;}

form>fieldset{
  display: inline;
}

.event_item{
  width:200px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 4px;
}
.event_page{
  display: flex;
  width: 900px;
  height: 410px;
  position: relative;
}

.next_page{
  position: absolute;
  left:410px;
  bottom: 75px;
}
.event_item_title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(0,0,0,.03);
  text-align: center;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid black;
}

.event_date{
  padding: 20px;

}

.contact_page{
  display: flex;
  width: 900px;
  height: 410px;
}
.info{
  margin: 40px;
  font-size: 1.3rem;
  font-weight: bold;
}


@media (min-width:1300px) {
  .container{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100px 1fr 100px;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    grid-gap:20px;
    border: 1px solid black;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer"
  }
}



a:link {color: white;} /* 링크 방문전 : 오렌지*/
a:visited {color:white;} /* 링크 방문후 : 파랑*/
a:hover {color:white;} /* 링크 마우스 오버 : 빨강*/
a:active {color:gray;} /* 링크 마우스 클릭 :검정*/

header{padding: px;}


a {
    text-decoration: none;
    color: black;
}

#login{
  text-align: center;
}
.social_login {
    width: 360px;
    top: 50%;
    left: 50%;
    margin-left: 30%;

}
.login-main h1 {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
}
.btn {
    border-radius: 3px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 18px;
    opacity: 0.9;
}
.btn:hover {
    opacity: 1;
}

.btn:nth-of-type(1) {
    background: #3ed530 url(images/logo-email.png) no-repeat center left 15px;
}
.btn:nth-of-type(2) {
    background: #2f8efa url(images/logo-naver.png) no-repeat center left 15px;
}
.btn:nth-of-type(3) {
    background: #FFEB33 url("images/icon_facebook.png") no-repeat center left 15px;
}

.or-text {
    display: block;
    text-align: center;
    /* margin-bottom: 7px; */
    font-size: 15px;
    margin: 10px 0;
    position: relative;
}
.or-text::before,
.or-text::after {
     content: "";
    position: absolute;
    height: 1px;
    background-color: lightgray;
    width: 44%;
    top: 10px;
}
.or-text::before {
    left: 0;
}
.or-text::after {
    right: 0;
}
.login-footer {
    font-size: 15px;
}
.login-footer p {
    text-align: center
}
.login-footer p a {
    font-weight: normal;
}
.login-footer p a:hover {
    text-decoration: underline;
}
