a{
  text-decoration: none;
  display: block;
}
ul{
  list-style-type: none;
}

.slider{
    width: 640px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}

.container{
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
  grid-gap:20px;
  border: 1px solid black;
  grid-template-areas:
  "header header"
  "menu content"
  "footer footer"
}
#ReserveContainer{
  display: grid;
  grid-template-columns: 20% 30% 48% 3fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
  grid-gap:20px;
  border: 1px solid black;
  grid-template-areas:
  "header header header"
  "menu ReserveContent1 ReserveContent2"
  "footer footer footer"
}
.header{
  grid-area: header;
}

.menu{
  grid-area: menu;
}
.managermenu{
  grid-area: menu;
}

.content{
  grid-area: content;
  border:1px solid black;
  margin-right: 30px;
}
#ReserveContent1{
  display: grid;
  grid-template-columns: 15px 200px auto;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  grid-gap:10px;
  grid-area: ReserveContent1;
  border:1px solid black;
  grid-template-areas:
  ". DateLabel SelectDate"
  ". TableLabel SelectTable"
  ". ReserveNum ReserveLabel"
  ". RButton ResetButton"
}
#login{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 25px 25px 30px auto;
  height: 100%;
  grid-gap:10px;
  grid-area: content;
  text-align: center;
  grid-template-areas:
  "LOGIN"
  "IDPWD"
  "JOIN"
  "SOCIALLOGIN"
}
/* .content>#IDPWD{
  display: grid;
  grid-template-columns: 800px auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "ID LOGINBUTTON"
  "PWD LOGINBUTTON"
} */

#DateLabel, #SelectDate, #TableLabel, #SelectTable, #ReserveLabel, #ReserveNum{
  margin-top: 20px;
}
#RButton, #ResetButton{
  text-align: left;
  margin-left: 50px;
}
#btn{
    text-decoration : none;
    font-size:20px;
    color:white;
    padding:5px 20px 5px 20px;
    /* margin-top: -20px;
    margin-left: 298px; */
    display:inline-block;
    border-radius:5px;
    text-shadow:0px -1px black;

    background-color:#2980B9;
}
#resetButton{
  text-decoration : none;
  font-size:20px;
  color:white;
  padding:5px 10px 5px 10px;
  /* margin-top: -20px;
  margin-left: 298px; */
  display:inline-block;
  border-radius:5px;
  text-shadow:0px -1px black;

  background-color:#CF3F37;
}
#Loginbtn{
  text-decoration : none;
  font-size:20px;
  color:white;
  padding:2px 10px 2px 10px;
  display:inline-block;
  border-radius:5px;
  text-shadow:0px -1px black;
  background-color:#2980B9;
}

#ReserveContent2{
  grid-area: ReserveContent2;
  border:1px solid black;
  margin-right: 30px;
}
#reserveTable {
  border-collapse: separate;
  text-align: left;
  line-height: 1.5;
  border-top: 3px solid #336699;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin : 20px 10px;
}
#reserveTable tr{
  height: 40px;
}
#reserveTable th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: #eee;
}
#reserveTable td {
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footer{
  grid-area: footer;
}

.menu>ul{
  line-height: 50px;
}
.managermenu>ul{
  line-height: 50px;
}

.footer>ul{display:flex; position:absolute; right:30px; width: 170px;}
.footer>ul>li{flex: 1;}

form>fieldset{
  display: inline;
}

.StatisticTable{
  background-color:#E0E0E0;
}

.event_item{
  width:200px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 4px;
}
.event_page{
  display: flex;
}
.event_item_title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(0,0,0,.03);
  text-align: center;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid black;
}

.event_date{
  padding: 20px;

}

.contact_page{
  display: flex;
}
.info{
  margin: 40px;
  font-size: 1.3rem;
  font-weight: bold;
}


a:link {color: black;} /* 링크 방문전 : 오렌지*/
a:visited {color:black;} /* 링크 방문후 : 파랑*/
a:hover {color:white;} /* 링크 마우스 오버 : 빨강*/
a:active {color:white;} /* 링크 마우스 클릭 :검정*/

header{padding: px;}
