<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
    <meta name="viewport" content="width=device-width">

    <link href="loginstyle.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 style="padding-left:40px;">
          <a href="/" style="">Restaurant</a><h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/menu_steak">MENU</a></li>
          <li><a href="/reservation">RESERVATION</a></li>
          <li><a href="/event">EVENT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
      <div class="content" id="login">
            <div class="social_login">
              <form id="login-form" action="/auth/login" method="POST">
                <div class="login-main">
                    <h1>로그인</h1>
                    <div class="int-area">
                      <input type="text" name="email" id="id" autocomplete="off" required placeholder="USER ID" >
                    </div>
                    <div class="int-area">
                      <input type="password" name="password" id="pwd" autocomplete="off" required placeholder="PASSWORD" >
                    </div>
                    <div class="btn-area">
                      <button class="btn_login" type ="submit" id="login"> 로그인 </button>
                    </div>
                    <a href="/auth/naver" id="naver" class="btn">네이버로 로그인</a>
                    <a href="/auth/facebook" id="facebook" class="btn">페이스북으로 로그인</a>
                    <a href="/auth/kakao" id="kakao" class="btn">카카오톡으로 로그인</a>
                </div>
              </form>
                <div class="login-footer">
                        <a href="/join">회원가입</a>
                </div>
            </div>
      </div>
      <div class="footer">
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () =>{
        if(new URL(location.href).searchParams.get('loginError')){
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      }
    </script>
  </body>
</html>

