<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Resertvation System</title>
    <link href="menutest.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 style="padding-left:40px;">
          <a href="/" style="">Restaurant</a><h1>
      </div>
      <div class="menu">
         <ul>
          <li><a href="/menu_steak">MENU</a></li>
          <li><a href="/reservation">RESERVATION</a></li>
          <li><a href="/event">EVENT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
      <div class="event_page">
        <div class="sub_menu">
          <a href="/menu_steak">스테이크</a>
          <a href="/menu_pasta">파스타</a>
          <a href="/menu_dessert">디저트</a>

        </div>
        <div class="items">
            <div class="item">
                <img src="dish1.png" alt="unicorn" width="250px" height="250px">
                <div class="caption">
                    <h2>JMT 스테이크</h2>
                    <p>
                        기깔나게 구운 스테이크다.
                    <p>Price : <s>$12</s> ->$10</p>
                    <a href="#none">View Details</a>
                </div>
            </div>
            <div class="item">
                <img src="dish5.png" alt="unicorn" width="250px" height="250px">
                <div class="caption">
                    <h2>JM 어린이스테이크</h2>
                    <p>
                        아이들이 먹으면 큰일난다 중독되서.
                    <p>Price : <s>$12</s> ->$10</p>
                    <a href="#none">Read More</a>
                </div>
            </div>
            <div class="item">
                <img src="dish6.png" alt="unicorn" width="250px" height="250px">
                <div class="caption">
                    <h2>A+채끝 스테이크</h2>
                    <p>
                        입에 넣는 순간 없어진다. 너무 부드러워서
                    <p>Price : <s>$12</s> ->$10</p>
                    <a href="#none">Read More</a>
                </div>
            </div>

        </div>
      </div>
      <div class="footer">
        <ul class="login" style="width:115px">
          <a href="/login">LOGIN</a>
        </ul>

      </div>




  </body>
</html>
