<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Resertvation System</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 style="padding-left:40px;">
          <a href="/" style="">Restaurant</a><h1>
      </div>
      <div class="menu">
         <ul>
          <li><a href="/menu_steak">MENU</a></li>
          <li><a href="/reservation">RESERVATION</a></li>
          <li><a href="/event">EVENT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
      <div class="content">
        <span>자리선택하기</span>
        <div>
          <button type="submit"                                   formaction="action1.html"formmethod="get" formtarget="_blank">예약하기</button>
          <button type="reset" formaction="action2.html" formmethod="post" formtarget="_self">취소</button>
        </div>

      </div>
      <div class="footer">
        {% if user %}
            <a href="/auth/logout" id="logout" class="login" style="width:115px">LOGOUT</a>  
        {% else %}
            <a href="/login" class="login"  style="width:115px">LOGIN</a>
        {% endif %}
      </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
        window.onload = () => {
          if (new URL(location.href).searchParams.get('loginError')) {
            alert(new URL(location.href).searchParams.get('loginError'));
          }
        };
      </script>
  </body>
</html>
