<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Resertvation System</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <script type="text/javascript">
    $(function(){

      $('#T1').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T1').addClass('enableclick');
      });

      $('#T2').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T2').addClass('enableclick');
      });

      $('#T3').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T3').addClass('enableclick');
      });

      $('#T4').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T4').addClass('enableclick');
      });

      $('#T5').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T5').addClass('enableclick');
      });

      $('#T6').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T6').addClass('enableclick');
      });

      $('#T7').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T7').addClass('enableclick');
      });

      $('#T8').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T8').addClass('enableclick');
      });

      $('#T9').on('click', function() {
      $('.seat').removeClass('enableclick');
      $('#T9').addClass('enableclick');
      });

    });
      $('#seatCancel').removeClass('enableclick');
    </script>
    <style>
      .line {
          margin-left: 30px;
          overflow: hidden;
      }

      .seat {
        
          margin: 2px;
          float: left;
          width: 60px;
          height: 60px;
          border-radius: 3px;
          text-align: center;
          font-size: 24px;
      }

      .enable {
          border-color: aliceblue;
          border : 2px solid ;
          background: rgb(70, 70, 70);
      }

      .enable:hover {
          background: rgb(128, 37, 1);
      }
      
      .enableclick{
        background: rgb(235, 228, 225);
        color: black;
      }

      .disable {
          background: red;
      }
  </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 style="padding-left:40px;">
          <a href="/" style="">Restaurant</a><h1>
      </div>
      <div class="menu">
         <ul>
          <li><a href="/menu_steak">MENU</a></li>
          <li><a href="/reservation">RESERVATION</a></li>
          <li><a href="/event">EVENT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
      <div class="content">
        <div style = "text-align: center; font-size : 24px; margin-bottom: 10px;" >자리선택하기</div>
        <div class="line">
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable"  id="T1" tableNum = "0">1</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T2" tableNum = "1">2</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T3" tableNum = "2">3</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
        </div>
        <div class="line">
          <div class="seat" ></div>
        </div>
        <div class="line">
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T4" tableNum = "4">4</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T5" tableNum = "5">5</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T6" tableNum = "6">6</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
        </div>
        <div class="line">
          <div class="seat" ></div>
        </div>
        <div class="line">
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T7" tableNum = "7">7</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T8" tableNum = "8">8</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
          <div class="seat enable" id="T9" tableNum = "9">9</div>
          <div class="seat" ></div>
          <div class="seat" ></div>
        </div>
        <div style="margin-top: 7px; text-align: center;">
          <button type="submit" formaction="action1.html"formmethod="post" formtarget="_blank" style="margin-right: 22px;">예약하기</button>
          <button type="" id="seatCancel" onclick="location.href='/reservation'" formaction=  "action2.html" formmethod="post" formtarget="_self" style="margin-left: 22px;">취소</button>
        </div>

      </div>
      <div class="footer">
        {% if user %}
            <a href="/auth/logout" id="logout" class="login" style="width:115px">LOGOUT</a>  
        {% else %}
            <a href="/login" class="login"  style="width:115px">LOGIN</a>
        {% endif %}
      </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
        window.onload = () => {
          if (new URL(location.href).searchParams.get('loginError')) {
            alert(new URL(location.href).searchParams.get('loginError'));
          }
        };
      </script>
  </body>
</html>
